<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="2.1.15" targetFramework="net472" />
  <package id="HtmlAgilityPack" version="1.11.54" targetFramework="net472" />
  <package id="HtmlAgilityPack.CssSelectors" version="1.0.2" targetFramework="net472" />
  <package id="Microsoft.Chart.Controls" version="4.7.2046" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
  <package id="System.Collections" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net472" />
  <package id="TimeZoneConverter" version="6.1.0" targetFramework="net472" />
</packages>